.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.productDetails {
	flex-basis: 309px;
	border: 2px solid;
	height: 245px;
	width: 220px;
}

.addProduct{
	position: relative;
	top:-102%;
	left:-43%;
}
.screen {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu {
	display: flex;
	justify-content: center;
	background-color: peachpuff;
}

.container {
	display: flex;
	justify-content: flex-end;
	top: 300px;

}

.checkBox {
	position: relative;
	top:-100%;
	left:-43%;
}
