.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}



.cartContainer {
	top: 150px;
	left: 900px;
	height: 100px;
	width: 225px;
	border: 3px solid;
}



.quantity {
	padding: right 72px;
}

.productDetails {
	flex-basis: 309px;
	margin-bottom: 50px;
	border: 2px solid;
	height: 245px;
	width: 220px;
	background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.addProduct {
	position: relative;
	top: -102%;
	left: -43%;
}
.text{
	border-radius:40px;
}
.screen {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 200px;
	justify-content: space-between;
}

.menu {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: 100px;
background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}



.favouriteIcon {
	position: relative;
	padding-right: 20px;
}

.faq {
	position: relative;
	flex-basis: 10px;
	top: 750px;
	left: 105px;
	height: 10px;
}

.filter {
	margin-left: 100px;
	display: flex;
}

.container {
	display: flex;
	justify-content: flex-end;
	top: 300px;
}

.icons {
	display: flex;
	align-items: baseline;
}
.checkBox {
	position: relative;
	top: -100%;
	left: -43%;
}

.header {
	justify-content: space-around;
	height: 80px;
	background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.headerBrandLogo {
	position: relative;
	top: 98px;
	left: 50px;
}

.filterContainer {
	display: flex;
	justify-content: space-evenly;
	top: 250px;
	left: 105px;
	height: 500px;
	width: 800px;
}
.aboutUs{
	margin-left:250px;
	height:600px;
	text-align: left;
}

.faq {
	top: 500px;
	text-align: left;
}
.home{
}
.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	top: 126px;
	margin-bottom: 10px;
	height: 200px;
	border:1px solid;
background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
