.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.cartContainer{
	position:relative;
	top:150px;
	left:1000px;
	height:100px;
	width:225px;
	border: 5px solid ;
}

.quantity {
	padding: right 72px ;
}
.productDetails {
	flex-basis: 309px;
	margin-bottom: 50px;
	border: 2px solid;
	height: 245px;
	width: 220px;
}

.addProduct{
	position: relative;
	top:-102%;
	left:-43%;
}
.screen {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 200px;
	justify-content: space-between;
}

.menu {
	display: flex;
	flex-wrap: wrap;
   row-gap: 100px;
	background-color:lightsalmon;
}

.container {
	display: flex;
	justify-content: flex-end;
	top: 300px;

}

.checkBox {
	position: relative;
	top:-100%;
	left:-43%;
}
.filterContainer{
	display:flex;
	justify-content: space-evenly;
	top:250px;
	left :105px;
	height:500px;
	width: 800px;
}
